/*design by https://freedesignresources.net/free-calculator-ui-template/*/
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --Mgray: rgb(55 67 83);
  --Dgray: rgb(54 62 73);
  --Wgray: rgb(91 106 125);
}

*{box-sizing: border-box;margin: 0;padding: o;}
h1{font-family: 'Rubik Glitch', cursive;font-size: 54px;  	color: rgba(0, 0, 0, .01);-webkit-text-stroke: .5px #04fbff;z-index: 99;}/*#00f54f*/
h2{font-family: 'Rubik Glitch', cursive;font-size: 54px;position: absolute;top: 0;left: 6px;z-index: -1000;color: rgba(0, 0, 0, .01);-webkit-text-stroke: .5px #fa04ed}/*#fb060b*/
h5{font-family: 'Rubik Glitch', cursive;font-size: 54px;position: absolute;top: 0;left: 3px;color: rgba(0, 0, 0, .01);-webkit-text-stroke: .5px white}
html{font-size: 62.5%;}
body{background:url(a.jpg);background: darkviolet;background: #d4e5f5; 	background-size: 100% 100%;background-attachment: fixed; }
div{ display: grid; align-items: center;justify-content: center;}
h3{font-size: 18px;}

.calculadora{
	height: 70vh; width: 56vw;min-width: 360px; margin: auto;margin-top: 7.5vh;
	background:#76808c;padding: 1px;border-radius: 9px;overflow: hidden;
}
/*----------------------- items----------------------*/
.calculadora  > div {text-align: right;font-size: 18px;color: white;}
.calculadora  > div:hover{background: Aqua;background: rgba(0, 0, 255, 0.3);}

/*-------------------- end items -------------------*/

/*---------------------  areas---------------------  */

.calculadora .op1{grid-area: ce ;background: var(--Mgray);}.calculadora .op2 {grid-area:clear;background: var(--Mgray);}
.calculadora .op3{grid-area: del;background: var(--Mgray);}.calculadora .op4{grid-area: div;background: var(--Mgray);}
.calculadora .item1 { grid-area: a; background: var(--Wgray);}.calculadora .item2 { grid-area: b; background: var(--Wgray);}.calculadora .item3 { grid-area: c; background: var(--Wgray);}
.calculadora .item4 { grid-area: d; background: var(--Wgray);}.calculadora .item5 { grid-area: e; background: var(--Wgray);}.calculadora .item6 { grid-area: f; background: var(--Wgray);}
.calculadora .item7 { grid-area: g; background: var(--Wgray);}.calculadora .item8 { grid-area: h; background: var(--Wgray);}.calculadora .item9 { grid-area: i; background: var(--Wgray);}
.calculadora .item11{ grid-area: p; background: var(--Dgray);}.calculadora .item10{ grid-area: j; background: var(--Wgray);}


.calculadora .display {grid-area: x; align-items: end;font-size: 18px;background: rgb(80 92 104);justify-content: end;padding-right: 42px;} 
.calculadora .display b{color: #898f9b;font-weight: 50%;}
.calculadora .display h3{font-family: 'Libre Baskerville', serif;font-family: 'Prata', serif;text-align: right;font-size: 40px;}	
.calculadora .op5 {grid-area:  inv;background: var(--Dgray);}.calculadora .op6{grid-area: rad;background: var(--Dgray);}.calculadora .op7{grid-area: sin;background: var(--Dgray);}
.calculadora .op8 {grid-area:  mul;background: var(--Mgray);}
.calculadora .op9{grid-area: cos;background: var(--Dgray);}.calculadora .op10{grid-area: tan;background: var(--Dgray);}.calculadora .op11{grid-area: porc;background: var(--Dgray);}
.calculadora .op12{grid-area: lef;background: var(--Mgray);}
.calculadora .op13{grid-area: ln;background: var(--Dgray);}.calculadora .op14{grid-area: log;background: var(--Dgray);}.calculadora .op15{grid-area: im;background: var(--Dgray);}
.calculadora .op16{grid-area: plus;background: var(--Mgray);}
.calculadora .op17{grid-area: exp;background: var(--Dgray);}.calculadora .op18{grid-area: pi;background: var(--Dgray);}.calculadora .op19{grid-area: euler;background: var(--Dgray);}
.calculadora .op0{grid-area: ig;background-image: linear-gradient(to right, #ec4072 , #fba82f);}
.calculadora .op20{grid-area: opB;background: var(--Dgray);}.calculadora .op21{grid-area: clB;background: var(--Dgray);}.calculadora .op22{grid-area: sqrt;background: var(--Dgray);}


.calculadora {
	display: grid;
	grid-template-columns: repeat(11,1fr);
	gap: 1px;
  	grid-template-areas:
    'x x x x x x x x x x x'
    'x x x x x x x x x x x'
    'ce ce clear clear del del div div inv rad sin'
    'a a b b c c mul mul cos tan porc' 
    'd d e e f f lef lef ln log im'
    'g g h h i i plus plus exp pi euler'
    'p p j j ig ig ig ig opB clB sqrt';}
/*---------------------  end areas---------------------  */
