/*design by https://freedesignresources.net/free-calculator-ui-template/*/
*{box-sizing: border-box;margin: 0;padding: o;}
html{font-size: 62.5%;font-family: ;}
body{background:url(a.jpg);background: darkviolet;background: #d4e5f5; 	background-size: 100% 100%;
	background-attachment: fixed; 
	}
div{ display: grid; align-items: center;justify-content: center;}
h3{font-size: 18px;}

.calculadora{background: rgba(255, 255, 255, 0.3);background:white;
	height: 70vh; width: 56vw;min-width: 360px; margin: auto;margin-top: 7.5vh;
	padding: 1px;
	border-radius: 9px;
	overflow: hidden;
}
/*----------------------- items----------------------*/
.calculadora  > div {background:rgb(54 62 73);
	text-align: right;
  	font-size: 18px;
  	color: white;
  	}
.calculadora  > div:hover{background: Aqua;background: rgba(0, 0, 255, 0.3);}

/*-------------------- end items -------------------*/

/*---------------------  areas---------------------  */
.calculadora .display {grid-area: x; align-items: end;font-size: 18px;background: rgb(80 92 104);}
 	
.op1{grid-area: ce;}.op2{grid-area: clear;}.op3{grid-area: del;}.op4{grid-area: div;}.op5{grid-area:inv ;}.op6{grid-area:rad ;}
.op7{grid-area: sin;}.op8{grid-area: mul;}.op9{grid-area: cos;}.op10{grid-area: tan;}.op11{grid-area: porc;}/*.op5{grid-area:inv ;}.op6{grid-area:rad ;}.op6{grid-area: sin;}*/
.item1 { grid-area: a; }.item2 { grid-area: b; }.item3 { grid-area: c; }.item4 { grid-area: d; }.item5 { grid-area: e;}
.item6 { grid-area: f; }.item7 { grid-area: g; }.item8 { grid-area: h; }.item9 { grid-area: i; }.item10 { grid-area: j; }.item11{grid-area: p;}
.calculadora .item1,.calculadora .item2,.calculadora .item3,.calculadora .item4,.calculadora .item5,.calculadora .item6,.calculadora .item7,.calculadora .item8,.calculadora .item9,.calculadora .item10{background: rgb(91 106 125);}
.calculadora .op1,.calculadora .op2,.calculadora .op3,.calculadora .op4,.calculadora .op8 {background: rgb(55 67 83);}



.calculadora {
	display: grid;
	grid-template-columns: repeat(11,1fr);
	gap: 1px;
  	grid-template-areas:
    'x x x x x x x x x x x'
    'x x x x x x x x x x x'
    'ce ce clear clear del del div div inv rad sin'
    'a a b b c c mul mul cos tan porc' 
    'd d e e f f . . . . .'
    'g g h h i i . . . . .'
    'p p j j . . . . . . .';}
/*---------------------  end areas---------------------  */



/*------------------------- info -------------------------*/

