/*design by https://freedesignresources.net/free-calculator-ui-template/*/
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --Mgray: rgb(55 67 83);
  --Dgray: rgb(54 62 73);
  --Wgray: rgb(91 106 125);
}


*{box-sizing: border-box;margin: 0;padding: o;}
html{font-size: 62.5%;}
h1{font-family: 'Rubik Glitch', cursive;font-size: 54px;  	color: rgba(0, 0, 0, .01);-webkit-text-stroke: .5px #04fbff;z-index: 99;}/*#00f54f*/
h2{font-family: 'Rubik Glitch', cursive;font-size: 54px;position: absolute;top: 0;left: 6px;z-index: -1000;color: rgba(0, 0, 0, .01);-webkit-text-stroke: .5px #fa04ed}/*#fb060b*/
h5{font-family: 'Rubik Glitch', cursive;font-size: 54px;position: absolute;top: 0;left: 3px;color: rgba(0, 0, 0, .01);-webkit-text-stroke: .5px white}
body{background:url(a.jpg);background: darkviolet;background: #d4e5f5; 	background-size: 100% 100%;background-attachment: fixed; }
div{ display: grid; align-items: center;justify-content: center;}
h3{font-size: 18px;}

/*#x{display: none;}*/

.calculadora{
	height: 70vh; width: 56vw;min-width: 360px; margin: auto;margin-top: 7.5vh;
	background:#76808c;padding: 1px;border-radius: 9px;overflow: hidden;
}
/*----------------------- items----------------------*/
.calculadora .display {grid-area: x; align-items: end;font-size: 18px;background: rgb(80 92 104);justify-content: end;padding-right: 42px;} 
.calculadora .display b{color: #898f9b;font-weight: 50%;}
.calculadora .display h3{font-family: 'Libre Baskerville', serif;font-family: 'Prata', serif;text-align: right;font-size: 40px;}	


.calculadora  > div {text-align: right;font-size: 18px;color: white;}
.calculadora  > div:hover:not(#equal) {background: rgba(0, 0, 255, 0.3);}
/*.calculadora:hover:{background: rgba(0, 0, 255, 0.3);}*/

/*-------------------- end items -------------------*/

/*---------------------  areas---------------------  */

#ce     {grid-area: ce ;background: var(--Mgray);}      #clear {grid-area:clear;background: var(--Mgray);}    #del    {grid-area: del;background: var(--Mgray);}      #Divide{grid-area: division;background: var(--Mgray);}

#multiply {grid-area:  mul;background: var(--Mgray);}
#minus{grid-area: lef;background: var(--Mgray);}
#plus{grid-area: plus;background: var(--Mgray);}

#uno    {grid-area: uno; background: var(--Wgray);}     #dos {grid-area: dos; background: var(--Wgray);}      #tres {grid-area: tres; background: var(--Wgray);}
#cuatro {grid-area: cuatro; background: var(--Wgray);}  #cinco {grid-area: cinco; background: var(--Wgray);}  #seis {grid-area: seis; background: var(--Wgray);}
#siete  {grid-area: siete; background: var(--Wgray);}   #ocho {grid-area: ocho; background: var(--Wgray);}    #nueve {grid-area: nueve; background: var(--Wgray);}
#punto  {grid-area: punto; background: var(--Dgray);}   #cero {grid-area: cero; background: var(--Wgray);}

#inv {grid-area:  inv;background: var(--Dgray);}  #rad{grid-area: rad;background: var(--Dgray);}   #sin{grid-area: sin;background: var(--Dgray);}
#cos{grid-area: cos;background: var(--Dgray);}    #tan {grid-area: tan;background: var(--Dgray);}  #porc{grid-area: porc;background: var(--Dgray);}
#ln {grid-area: ln;background: var(--Dgray);}     #log{grid-area: log;background: var(--Dgray);}   #im{grid-area: im;background: var(--Dgray);}
#exp{grid-area: exp;background: var(--Dgray);}    #pi{grid-area: pi;background: var(--Dgray);}     #euler{grid-area: euler;background: var(--Dgray);}
#opB{grid-area: opB;background: var(--Dgray);}    #clB{grid-area: clB;background: var(--Dgray);}   #sqrt{grid-area: sqrt;background: var(--Dgray);}

#equal{grid-area: ig;background-image: linear-gradient(to right, #ec4072 , #fba82f);}

.calculadora {
	display: grid;
	grid-template-columns: repeat(11,1fr);
	gap: 1px;
	grid-template-areas:
  'x x x x x x x x x x x'
  'x x x x x x x x x x x'
  'ce ce clear clear del del division division inv rad sin'
  'uno uno dos dos tres tres mul mul cos tan porc' 
  'cuatro cuatro cinco cinco seis seis lef lef ln log im'
  'siete siete ocho ocho nueve nueve plus plus exp pi euler'
  'punto punto cero cero ig ig ig ig opB clB sqrt';}
/*---------------------  end areas---------------------  */
